.nav{
    background-color: #333333;
    color: #ffffff;
    display:flex;
    height: 80px;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    
}


.nav-title{
    margin-left: 20px;
   
}

.nav-links{
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type:none;
    justify-content: space-around;
    

}
.nav a{
    text-decoration: none;
    color: white;
}

.btn{
    color: white;
    background-color: aqua;
    border: solid black;
    box-shadow: 5px 2px 2px black;
}